@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,700|Quattrocento:700');

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
    background: #EFEFEF;
}

body.dark {
    background: black;
    color: #EFEFEF;
}

h1, h2 {
    text-align: center;
    font-family: "Quattrocento", Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 30pt;
    margin-bottom: 10px;
}

h2 {
    font-size: 14pt;
    font-family: sans-serif;
    font-weight: lighter;
    color: #BBB;
}

.dark h2 {
    color: #666;
}

.header {
    padding-top: 3em;
    padding-bottom: 3em;
}

h3.written-in-ink {
    font-size: 9pt;
    font-family: sans-serif;
    text-align: center;
    font-weight: 700;
    position: fixed;
    display: block;
    width: 100%;
    background: white;
    margin: 0;
    padding-top: 6px;
    padding-bottom: 6px;
    top: 0;
    z-index: 1;
}

.dark h3.written-in-ink {
    background: #0092CB;
}


/* Seems necessary to make iframes work on itch.io on mobile iOS :-( */
.outerContainer {
    position: absolute;
    display: block;
    margin: 0;
    padding: 0;
    -webkit-overflow-scrolling: touch;
    overflow: scroll;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

.container {
    display: block;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    padding-top: 4em;
    background: #EFEFEF;
}

.dark .container {
    background: black;
}

p {
    font-size: 13pt;
    color: #001342;
    line-height: 1.7em;
    //font-weight: lighter;
}

a {
    font-weight: 700;
    /*color: #b97c2c;*/
    font-family: sans-serif;
    transition: color 0.6s;
    text-decoration: none;
}

.dark a {
    color: #cc8f1a;
    transition: color 0.6s;
}


a:hover {
    color: #0075A2;
    transition: color 1s;
}

.dark a:hover {
    color: #EFEFEF;
}

strong {
     color: #494E52;
    font-weight: bold;
}

.dark strong {
    color: #EFEFEF;
}

img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    position: relative;
    transition: all .4s cubic-bezier(.65,.05,.36,1) !important;
}

img:hover {
    transform: scale(1.9);  /*以y轴为中心旋转*/
}

.container .hide {
    opacity: 0.0;
}

.container .invisible {
    display: none;
}

.container * {
    opacity: 1.0;
    transition: opacity 1.0s;
}

p.choice {
    text-align: center;
    line-height: 1.7em;
}

/* first choice */
:not(.choice) + .choice {
    padding-top: 1em;
}


p.choice a {
    font-size: 15pt;
    color: #0092CB;
}

p.choice a:hover {
    color: #0075A2;
    transition: color 1s;
}

/* Built in class if you want to write:
     The End # CLASS: end
*/
.end {
    text-align: center;
    font-weight: bold;
    color: #494E52;
    padding-top: 20px;
    padding-bottom: 20px;
}

.dark .end {
    color: #EFEFEF;
}

.foot {
    width:100%;
    height:36px;
    line-height:1.7em;
    position:fixed;
    bottom:0px;
    left:0px;
    text-align:center;
    color:#898C8F;
    background:#0092CB;
}

.foot a {
    color:#EFEFEF;
}

#name{
    border: 0;
    border-bottom: #8b4f00 2px solid;
    width: 50%;
    position: relative;
    left: 50%;
    transform: translate(-50%,0%);
    color: #b97c2c;
    font-size: 1.5rem;
    text-align: center;
}

.money,.save,.san,.item,.music {
    color: gray;
    font-size: smaller;
    text-align: center;
    transition: ease-in-out;
    transition-duration: 300ms;
}

.music::before,
.music::after {
  content:"🎵";
}
.music{ font-size: lagger;}
.money::before {
    content: "💴";
}
.money:hover {
    color:#05511b;
    transition: ease-in-out;
    transition-duration: 300ms;
}
.caption_title {
    text-align: center;
    font-weight: bold;
    font-size: x-large;
    color: black;
}
.san::before{
    content:"👾"
}

.warn {
  color: red;
  font-weight: bold;
  text-align: center;
}

.warn::before {
  content: "⚠";
}

.task {
  color:#31378d;
  font-weight: bold;
  text-align: justify;
  left: 50%;
  position: relative;
  transform: translate(-50%,-0%);
}
.task:hover {
  color: black;
 }
.task::before {
  content: "📜";
}
.rail{
  color: white;
  text-shadow: 0 0 1em #00CC99,
    0 0 0.7em #087098,
    0 0 0.5em #087098,
    0 0 0.2em #087098;
}
.item::before {
  content: "📦"
}

.chat_chiharu,
.chat_chaos,
.chat_star,
.chat_kiyora {
  display: grid;
  grid-template-rows: repeat(2,auto);
  gap: 0px 5px;
  width: max-content;
}

.chat_chiharu,
.chat_chaos,
.chat_star {
  grid-template-columns: auto 1fr;
  grid-template-areas:
    "avatar name"
    "avatar content";
  
}

.chat_kiyora{
  text-align: right;
  grid-template-columns: 1fr auto;
  grid-template-areas:
    "name avatar"
    "content avatar";
  position: relative;
  left: 100%;
  transform: translate(-100%,0);
}

.chat_kiyora::after,
.chat_chiharu::before,
.chat_chaos::before,
.chat_star::before {
  grid-area: avatar;
  content:"";
  background-size: cover;
  background-size: contain;
  background-repeat: no-repeat;
  margin: 5px;
  width: 50px;
  height: 50px;
  border-radius: 10px;
}

.chat_kiyora::after { background-image: url("img/kiyora.jpg"); }
.chat_chiharu::before { background-image: url("img/chiharu.jpg"); }
.chat_chaos::before { background-image: url("img/chaos.jpg"); }
.chat_star::before { background-image: url("img/star.jpg"); }

.name {
  grid-area: name;
  font-size: small;
}
.content {
  grid-area: content;
  color:black;
  background: white;
  padding: 3px 0.5rem;
  border-radius: 5px;
}

.chat_chiharu>.content,
.chat_chaos>.content,
.chat_star>.content {
  background-color: white;
  border-top-left-radius: 5px !important;
  border-bottom-left-radius: 15px !important;
}

.chat_kiyora>.content {
  background-color: #87cefa;
  border-top-right-radius: 5px !important;
  border-bottom-right-radius: 15px !important;
}
